body {
    background-image: url("img/carbon-fibre.png");
    color: aliceblue;
    font-family: sans-serif;
    font-size: 20px;
}

.grid-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 50px);*/
    grid-gap: 2px;
}

.grid-item {
    border: 1px dashed gray;
    border-radius: 10px;
    text-align: center;
}

nav {
    z-index: 1;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid grey;
    border-radius: 0 0 10px 10px;
    color: #880008;
    background-color: darkgray;
}


a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
}

a:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

main {
    /*padding-top: 50px;*/
}

.h1 {
    margin-top: 60px;
    text-align: center;
}

.welcome-section,
.my-projects,
.my-profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    padding: 20px;
    border-radius: 15px;
}

figure.profile-photo {
    z-index: 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #ae9e32;
    width: 100%;
    transform: rotate(-5deg);
}

.project-title {
    padding: 5px;
    border-radius: 10px;
    background-color: #000000;
}

.projects figure {
    z-index: 0;

    width: 100%;
    transform: rotate(-5deg);
}

.profile-photo img,
.my-projects img {
    width: 100%;
    height: auto;
}

.profile-photo figcaption {
    color: dimgray;
    font-style: italic;
    text-align: center;
}

p.profile-text {
    line-height: 2rem;
}


/*at least one media query*/